<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo Lucas Escoto da Luz</title>
  <link rel="stylesheet" href="curriculo.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Goldman&display=swap" rel="stylesheet">
</head>

<body>

  <div class="container">
    <p>
      Desenvolvedor Full Stack, com habilidades e experiências teóricas em:
      C#, Windows Forms, .Net, .NetCore, Api, WebApi, RestApi, Angular, React, JavaScript, TypeScript, BootStrap,
      HTML, CSS, SCSS, Materialize, SCRUM, Kanban, Cloud AWS, PostgreSql, MySql, SqlServer, Git, Excel, Power Bi, Bizagi.
    </p>
    <p class="tit-skills">
      HABILIDADES:
      <img src="../../../assets/skills-curriculo.gif" alt="Gif skills Lucas">
    </p>
  </div>
  <div>

  </div>
</body>

</html>
