* {
  background: #1C1C1C;
}

h1 {
  font-family: 'Goldman', cursive;
  color: #00ff00;
  text-align: center;
}
.container {
  display: inline-flex;
  width: 1200x;

}
.container p {
  /* width: 111100px; */
  color: white;
  font-family: 'Goldman', cursive;
  font-size: 20px;
  text-align: justify;
  line-height: 50px;
  margin: 1em;
}

.container {
  font-size: 30px;
  text-align: center;

}

.container img {
  width: 350px;
  float: left;
  margin-right: 20px;
}


