<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo Lucas Escoto da Luz</title>
  <link rel="stylesheet" href="curriculo.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Goldman&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>

<body>
  <embed src="../../../assets/Lucas Escoto da Luz - Curriculo Atualizado.pdf" type="application/pdf" width="800px" height="500px">
</body>
