 <footer class="main-footer">
  <a  href="https://www.linkedin.com/in/lucas-escoto-da-luz-342616174/">
    <img class="rede-github" src="../../../assets/linkedin.png" alt="Ícone Github"></a>
  <a  href="https://github.com/LucasEscotoDaLuz">
    <img class="rede-github" src="../../../assets/github.png" alt="Ícone Github"></a>
  <a  href="https://www.instagram.com/escotodaluz/">
    <img class="rede-instagram" src="../../../assets/instagram.png" alt="Ícone Instagram"></a>
  <a href="https://wa.me/5551996251212">
    <img class="rede-whatsapp" src="../../../assets/whatsapp.png" alt="Ícone Whatsapp"></a>

 </footer>
 <p>&copy; Copyright Lucas Escoto da Luz - 2023</p>




