<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo Lucas Escoto da Luz</title>
  <link rel="stylesheet" href="inicio.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Goldman&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div>
      <h1>Eu & O Que eu Faço </h1>
      <p>Sou o Lucas, moro de Porto Alegre(RS). Atualmente, sou estudante dos cursos de Sistemas Para
        Internet (Graduação) e
        Data Science (Pós-Graduação). Sou bacharel em Administração.
      </p>
      <p>Sou Desenvolvedor Full Stack (ao lado, minhas skills).
      </p>
      <p>Busco minha primeira oportunidade profissional como Programador, seja ela como Estagiário ou Júnior.
      </p>
      <p>Por estar em constante aprendizado, poderá acompanhar minhas atividades e projetos do<a
          href="https://github.com/LucasEscotoDaLuz">GitHub</a>
        e<a href="https://www.instagram.com/escotodaluz/">Linkedin.</a>
      </p>
      <p>
        <li><a href="http://localhost:4200/contato">acesse aqui para contato.</a></li>
      </p>
    </div>
    <img src="../../../assets/skills-curriculo.gif" alt="Gif skills Lucas">
  </div>
</body>
