* {
  background: #1C1C1C;
  margin: 1em;
  margin-bottom: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
}

div {
  display: block;
}

a {
  color:#00BFFF;
  font-family: 'Goldman', cursive;
  font-size: 16px;
}

h1 {
  font-family: 'Goldman', cursive;
  color: #E0FFFF;
  text-align: center;
  font-size: 2em;
}

h1:hover {
  color: #00BFFF;
}

.container {
  display: inline-flex;
  width: 500x;
}



.container p {
  color: #DCDCDC;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  text-align: start;
  line-height: 50px;
  margin: 1em;
  text-decoration: dotted;
}

.container img {
  width: 25em;
  height: 15em;
  margin: auto;
  display: flex;
  position: absolute;
  content: '';
  border-radius: 50%;
  left: -12%;
  top: 40%;
  background: linear-gradient(45deg #00BFFF, pink);
  overflow: hidden;
}


.container img::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  left: -12%;
  top: 40%;
  background: linear-gradient(45deg #00BFFF, pink);
  animation: object1 6s linear infinite;
}



.btns {
  width: 100%;
  position: relative;
  left: 150px;

}
button {
  font-family: 'Architects Daughter', cursive;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 25px;
  color: #00BFFF;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0 0 0 0.4);
}

button:hover {
  background-color: #00BFFF;
  color: #000;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgbox img {
  position: relative;
  height: 100%;
  width: calc(130%  - 80px);
  top: -100px;
  right: 50px;
  transform: rotateY(180deg);
  animation: animateUser 4s linear infinite;
  background: none;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}

.imgbox #splash {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  width: 160%;
  filter: saturate(200%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  50% {
    right: 49%;
    top: 51%;
    width: 155%;
  }
}
