<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo Lucas Escoto da Luz</title>
  <link rel="stylesheet" href="inicio.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Goldman&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="cols cols0">
      <span class="topline">Olá</span>
      <h1> Sou o Lucas <span class="multiText"></span></h1>
      <p>Desenvolvedor Full Stack e estudante dos cursos de Sistemas Para Internet (Graduação) e Data Science
        (Pós-Graduação). Ainda, sou Bacharel em Administração.
      </p>
      <p>Busco minha primeira oportunidade profissional como Programador, seja ela como Estagiário ou Júnior.
      </p>
      <p><strong>Atuo com C#, .Net, Windows Forms, JavaScript, TypeScript, Angular, React, Python, MySql, SqlServer, PostGreSql, Clowd AWS, Git, Power Bi, Excel, Agile.</strong>

      </p>
      <p>Por estar em constante aprendizado, poderá acompanhar minhas atividades e projetos acessando os links das
        minhas redes sociais.</p>
      <div class="btns">
        <button (click)="downloadFile()">Baixar CV</button>
      </div>
    </div>
    <div class="cols cols1">
      <div class="imgbox">
        <img src="../../../assets/Preto e Branco Figuras Modernas Festival de Filmes Evento Logotipo.png">
      </div>
      <div id="splash"></div>
      <div id="splash"></div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>
