* {
  background: #1C1C1C;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Goldman', cursive;
  color: #00ff00;
  text-align: center;
}

.container {
  display: inline-flex;
  width: 1200x;
}

.container p {
  /* width: 111100px; */
  color: white;
  font-family: 'Goldman', cursive;
  font-size: 20px;
  text-align: justify;
  line-height: 50px;
  margin: 1em;
}

.container {
  font-size: 30px;
  text-align: center;

}

.container img {
  width: 350px;
  float: left;
  margin-right: 20px;
}



button {
  background: none;
}

.container-fatos {
  position: relative;
  padding:  20px;
  max-width: 640px;
  margin: 0 auto;
  list-style: none;
}

.gallery-wrapper {
  overflow-x: auto;

}

.arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  opacity: 0.2;
  transition: all 600ms ease-in-out;

}

.arrow-right {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(0deg, #00ff00);
  opacity: 0.2;
  transition: all 600ms ease-in-out;

}

.arrow-left:hover{
  opacity: 1;

}

.arrow-right:hover{
  opacity: 1;

}

.item {
  width: 350px;
  height: 350px;
  flex-shrink: 0;
  opacity: 0.5;
  border: 5px solid #FFF;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%,  #00ff00);



}

.current-item {
  opacity: 1;
  border: 5px solid black;
  box-shadow: 0 0 12px  #00ff00; ;
  width: 350px;
  height: 250px;




}

.gallery-wrapper::-webkit-scrollbar{
  display: none;

}

.gallery, ul{
  display: flex;
  flex-flow: row nowrap;
  gap:15px;
  list-style: none;
}
