<app-cabecalho></app-cabecalho>
<app-projetos  [imagens]  = "[
'../assets/emailReact.png',
'../assets/copas-do-mundo.png',
'../assets/curriculo-html.png',
'../assets/jogo-forca.png',
'../assets/jogo-friends.png',
'../assets/jogo-python.png',
'../assets/lucasflix.png',
'../assets/portfolio.png',
'../assets/projeto-faculdade-2.png',
'../assets/wforms-mysql.png',
]"
>
</app-projetos>
<br>
<br>
<br>
<br>
<app-conhecimentos [imagens]="[
  '../assets/angular.png',
  '../assets/aws.png',
  '../assets/c-sharp.png',
  '../assets/js.png',
  '../assets/python.png',
  '../assets/react.png',
  '../assets/typescript.png',
  '../assets/sass.png',
  '../assets/html.png',
  '../assets/css.png',
  '../assets/git.png',
  '../assets/postgreSql.png',
  '../assets/mysql.png',

  '../assets/dotnet.png',
]" ></app-conhecimentos>
<app-rodape></app-rodape>


