header {
  width: 1200px;
  position: relative;
}

header .nav-wrapper {
  background: #1C1C1C;
}

nav {
  width:auto;
  right: inherit;
}


nav div.nav-wrapper {
  margin: 0;
  padding: 0;
}

ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

nav a {
  font-family: 'Goldman', cursive;
  text-transform: uppercase;
  color: #A9A9A9;
  font-size: 26px;
  text-decoration: none;
  margin: 15px;
}

nav a:hover {
  color: #00BFFF;
  text-decoration: underline;
}

nav li {
  display: inline-block;
  text-align: justify;
}

img {
  align-items: center;
  width: 250px;
  margin: 0;
}
